fastapi>=0.111.0
uvicorn[standard]>=0.30.0
pydantic>=2.7.0
python-dotenv==1.1.1
python-jose[cryptography]==3.5.0
python-multipart==0.0.20
faiss-cpu==1.12.0
langchain==0.3.27
langchain-openai==0.3.33
langchain-community==0.3.29
boto3==1.35.93
openai


